.applet-wrapper {
  position: relative;
  overflow: visible;
  width: 100%; /* default, can be overridden by inline style */
  z-index: 1;
}

.applet-iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  transform-origin: top left;
  border: 0;
  display: block;
}